---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const dataCards = await getCollection("dataCards");
---

<Layout>
  <div class="prose max-w-4xl mx-auto mt-8">
    <h1>Data</h1>
    <p>This is the data page.</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-4xl mx-auto mt-8">
  {dataCards.map((card) => (
    <div class="prose max-w-4xl mx-auto mt-8 border rounded-lg p-4 border-slate-300">
      <h2>{card.data.title}</h2>
      <p>{card.data.summary}</p>
      <a class="underline" href={`/data/${card.id}`}>Read more</a>
    </div>
  ))}
  </div>
</Layout>
