---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

const exhibitions = await getCollection("exhibitions");
---

<Layout>
  <div class="prose max-w-4xl mx-auto mt-8">
    <h1>Exhibitions</h1>
    <ul>
      {exhibitions.map((exhibition) => (
        <li key={exhibition.id}>
          <a class="underline" href={`/exhibitions/${exhibition.id}`}>{exhibition.id}</a>
        </li>
      ))}
    </ul>
  </div>
</Layout>
